CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_redmi-router-ac2100=y

# IPv6支持:
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_ipv6helper=y

# 貌似是开启FPU
CONFIG_KERNEL_MIPS_FPU_EMULATOR=y # MIPS模拟FPU

CONFIG_PACKAGE_luci-app-dnsfilter=y # 基于dnsmasq的去广告
CONFIG_PACKAGE_luci-app-ramfree=y # luci-app-释放内存

# 以下软件包编译默认添加。如果需要，注释对应行即可。
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-arpbind=n # arp绑定
CONFIG_PACKAGE_luci-app-autoreboot=n # 自动重启
CONFIG_PACKAGE_luci-app-ddns=n # ddns
CONFIG_PACKAGE_luci-app-filetransfer=n
CONFIG_PACKAGE_luci-app-nlbwmon=n # 宽带监控
CONFIG_PACKAGE_luci-app-unblockmusic=n # 解锁网易云灰色歌曲
CONFIG_PACKAGE_luci-app-vsftpd=n # LUCI FTP服务
CONFIG_PACKAGE_vsftpd-alt=n # FTP服务程序
CONFIG_PACKAGE_wol=n # 网络启动命令行程序

# 主题
CONFIG_PACKAGE_luci-theme-argon=y

# dnsmasq
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y

CONFIG_PACKAGE_luci-compat=y


# CONFIG_PACKAGE_coremark=y # CPU跑分
# CONFIG_COREMARK_OPTIMIZE_O3=y
# CONFIG_COREMARK_ENABLE_MULTITHREADING=y
# CONFIG_COREMARK_NUMBER_OF_THREADS=16

# linux软件包
# CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_bash=y
